* {
}
.nav-link {
  color: white !important;
  font-size: 2vh;
  margin-right: 1vh;
}
.navbar-brand {
  color: white !important;
  font-size: 2vh !important;
}
.remember-me-label {
  margin-left: 2vh;
  margin-top: 0.25vh;
}
.item_page{
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 3%;
}
.item_left{
  margin-right: 2%;
}
.item_right{
  margin-left:2%;
}
.item_picture {
  margin-right: 2%;
  margin-bottom: 2%;
}
.item_seller{
  border-style:solid;
  padding: 1% 1% 1% 1%;
  margin-left: 2%;
  margin-bottom: 4%;
}
.pic_and_author {
  height: 70vh;
  margin-bottom: 2%;
}

.profile{
  border: 2px solid black;
  height: 200px;
  width: 200px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.about_seller{
  border: 2px solid black;
  min-height: 15vh;
  margin-top: 2%;
  margin-bottom: 2%;
}
.about_picture_and_buy{
  height: 43.5vh;
  margin-bottom: 2%;
  padding: 0% 0% 0% 0%;
}
.about_picture{
  height: 43.5vh;
  margin-right: 2%;
  padding: 0% 0% 0% 0%;
  margin-bottom: 1%;
}
.title{
  border: 3px solid black;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 20%;
}
.about{
  border: 3px solid black;
  margin-top: 1%;
  height:70%;
}
.buy{
  border: 3px solid black;
  margin-left: 2%;
  padding: 1% 1% 1% 1%;
  margin-bottom: 4%;
}
.item_options{
  border: 2px solid black;
  height:30vh;
  margin-top: 5%;
  margin-bottom:2%;
}
.item_option{
  margin-top:1vh;
}
.reviews_and_ad{
  height: 60vh;
  margin-bottom: 2%;
}
.reviews{
  border: 3px solid black;
  padding: 1% 1% 1% 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 60vh;
}
.review{
  border: 2px solid black;
  margin-top: 2%;
  height: 40%;
}
.ad{
  margin-left:2%;
  margin-bottom: 2%;
}
