* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.remember-me-label {
  margin-left: 2vh;
  margin-top: 0.25vh;
}


/* Styling for the navbar */
.nav-link {
  color: white !important;
  font-size: 2.5vh;
  margin-right: 1vh;
}
.navbar-brand {
  color: white !important;
  font-size: 3vh !important;
}
.cart-logo{
  font-size:1.5em;
  line-height:.5em;
  margin-right:.5em;
  
}

/**************************/

/* Styling for the Home page  - Jared Benitez*/
.home-wrapper {
  font-size: 2vh;
  text-align:center;
  height: 100vh;
}
.top-container {
  line-height:6vh;
  margin-top:1vh;
  border-radius: 1vh;
  background-color: lightgrey;
  height: 30vh;
}
.bottom-container {
  height: 40vh;
  border-radius:1vh;
  margin-top: 3vh;
}
.home-thumb{
  background-size:cover;
  background-repeat: no-repeat;
}
.home-thumb > a > img{
  width:100%;
  height:100%;

}

/**************************/
