* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.remember-me-label {
  margin-left: 2vh;
  margin-top: 0.25vh;
}


/* Styling for the navbar */
.nav-link {
  color: white !important;
  font-size: 2.5vh;
  margin-right: 1vh;
}
.navbar-brand {
  color: white !important;
  font-size: 3vh !important;
}
.cart-logo{
  font-size:1.5em;
  line-height:.5em;
  margin-right:.5em;
  
}

/**************************/

/* Styling for the Home page  - Jared Benitez*/
.home-wrapper {
  font-size: 2vh;
  text-align:center;
  height: 100vh;
  margin-top:15vh;
}
.alert-msgs{
  margin-top:7vh;
}

.bottom-container {
  height: 40vh;
  border-radius:1vh;
  margin-top: 3vh;
}
/* Thumnail images */
.home-thumb{
  background-size: cover;
  background-repeat: no-repeat;
}
.home-thumb > a > img{
  width:100%;
  height:100%;

}
.home-card-img{
  height: 15rem;
  object-fit: cover;
}
.display-tag{
  float:left;
  font-size:10px;
  padding:0.5em 0.75em;
  margin:1em;
  display:inline-block;
  background: lightblue;
}
.display-tag:hover{
  background-color: rgb(159, 195, 207)
}

.num_views_container{
  position:absolute;
  right:10%;
  bottom: 5%;
}
.remove-cart-items{
  width:20%; float:left;
  margin-top:1vh;
  margin-bottom:1vh;
}
#image-preview{
  
}

/**************************/


/* Styling for the Login page */
.login-form, .register-form{
  margin-top:1em;
}
.item_page{
  
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 3%;
  margin-top: 2%;
  margin-top:10vh; /* Changed by Jared for navbar fix */ 
  margin-bottom: 2%;
}
.item_left{
  margin-right: 1%;
}
.item_right{
  margin-left:1%;
}
.item_picture {
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: lightgray;
  border-radius: 10px;
}

.dynamic_picture{
  display:block;
  margin-left: auto;
  margin-right: auto;
  min-width: 85%;
  max-width: 100%;
}

.item_seller{
  border-style:solid;
  padding: 1% 1% 1% 1%;
  margin-left: 2%;
  margin-bottom: 4%;
}
.pic_and_author {
  height: 70vh;
  margin-bottom: 2%;
}

.profile{
  border: 2px solid black;
  height: 22vh;
  width: 22vh;
  margin-top: 2%;
  margin-bottom: 2%;
}
.profile_picture{
  width:100%;
  height:100%;
}
.about_seller{
  border: 2px solid black;
  min-height: 15vh;
  margin-top: 2%;
  margin-bottom: 2%;
}
.about_picture_and_buy{
  height: 43.5vh;
  margin-bottom: 2%;
  padding: 0% 0% 0% 0%;
}
.about_picture{
  height: 43.5vh;
  margin-right: 2%;
  padding: 0% 0% 0% 0%;
  margin-bottom: 1%;
}
.title{
  border: 3px solid black;
  padding-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 25%;
}
.about{
  border: 3px solid black;
  margin-top: 1%;
  padding-left: 1%;
  height:70%;
}
.buy{
  border: 3px solid black;
  margin-left: 2%;
  padding: 1% 1% 1% 1%;
  margin-bottom: 4%;
}
.item_options{
  border: 2px solid black;
  height:30vh;
  margin-top: 5%;
  margin-bottom:2%;
}
.item_option{
  margin-top:1vh;
}
.s_and_ad{
  height: 60vh;
  margin-bottom: 2%;
}
.reviews{
  border: 3px solid black;
  padding: 1% 1% 1% 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 60vh;
}
.review{
  border: 2px solid black;
  margin-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  height: 40%;
}
.ad{
  margin-left:2%;
  margin-bottom: 2%;
}

.item_ad{
  height:100vh;
  width: 30vh;
  align-content: center;
  position: fixed;
  left: 86.5vw;
  top: 11.5vh;
}
.candy{
  height:60vh;
  width:8.5vw;
}

.help_button{
  padding:0px;
  position:fixed;
  background: #009879;
  height:80px;
  width:80px;
  display:flex;
  border-radius: 50%;
  border:none;
  font-size:80px;
  align-items:center;
  justify-content:center;
  bottom: 2vh;
  left: 80vw;
  text-align:center;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
  color: #ffffff;
}


.report_button{
  border:none;
  padding:none;
  position:fixed;
  background: #009879;
  height:48px;
  width:48px;
  display:flex;
  border-radius: 50%;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  bottom: 10vh;
  left: 76.25vw;
  text-align: center;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

.contact_button{
  border:none;
  padding:none;
  position:fixed;
  background: #009879;
  height:48px;
  width:48px;
  display:flex;
  border-radius: 50%;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  bottom: 12vh;
  left: 79.25vw;
  text-align: center;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

.faq_button{
  border:none;
  padding:none;
  position:fixed;
  background: #009879;
  height:48px;
  width:48px;
  display:flex;
  border-radius: 50%;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  bottom: 12vh;
  left: 82.25vw;
  text-align: center;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

.esc_button{
  border:none;
  padding:none;
  position:fixed;
  background: #009879;
  height:48px;
  width:48px;
  display:flex;
  border-radius: 50%;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  bottom: 10vh;
  left: 85.25vw;
  text-align: center;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

.material-icons.md-48 { 
  font-size: 80px; 
} 

.material-icons.md-24 { 
  font-size: 36px; 
} 

.icon{
  margin:auto;
}

.help_tag{
  border: 1px solid black;
  background-color:#ffffff;
  position: fixed;
  bottom: 2vh;
  left: 85vw;
  padding-left:2px;
  padding-right:2px;
}

.report_tag{
  border: 1px solid black;
  background-color:#ffffff;
  position: fixed;
  bottom: 16vh;
  left: 76.25vw;
  padding-left:2px;
  padding-right:2px;
}

.contact_tag{
  border: 1px solid black;
  background-color:#ffffff;
  position: fixed;
  bottom: 18vh;
  left: 79.25vw;
  padding-left:2px;
  padding-right:2px;
}

.faq_tag{
  border: 1px solid black;
  background-color:#ffffff;
  position: fixed;
  bottom: 18vh;
  left: 82.25vw;
  padding-left:2px;
  padding-right:2px;
}

.esc_tag{
  border: 1px solid black;
  background-color:#ffffff;
  position: fixed;
  bottom: 16vh;
  left: 85.25vw;
  padding-left:2px;
  padding-right:2px;
}

.report_form{
  position: fixed;
  height:50vh;
  width: 40vw;
  left:30vw;
  bottom:25vh;
  background-color:#ffffff;
  border: 3px solid black;
  padding: 1% 2% 1% 2%;
}

.extra_info{
  width: 100%;
  height: 15vh;
}

.center{
  text-align:center;
}

.report_cancel{
  background:none;
  border:none;
  position:fixed;
  left:67%;
  bottom:70%;
}

.faq_sheet{
  position: fixed;
  height:75vh;
  width: 40vw;
  left:30vw;
  bottom:12.5vh;
  background-color:#ffffff;
  border: 3px solid black;
  padding: 2% 2% 2% 2%;
}

.faq_cancel{
  background:none;
  border:none;
  position:fixed;
  left:67%;
  bottom:81%;
}

.faq_head{
  margin-bottom:4%;
}

.faqs{
  margin:1% 1% 1% 1%;
  padding-left:2%;
  padding-right:2%;
  border: 2px solid black;
  width:100%;
  height:85%;
  overflow:auto;
}


/**************************/
.account-wrapper{
  position: relative;
  margin-top:10vh;

}
/**********Alec's work on account page****************/

.account-left{
  margin-left:2vw;
}
.account-card{
  float:left;
  margin-left: 1%;
  margin-top: 1%;
} 

.review-card-row{
  margin-top:2vw;
}

 .review-card{
  border: none !important;
} 

/**adult content container for account page*/
.nsfw-container{
  display: none;
}

/*button container for account page*/
.reveal-nsfw{
  width:10vw;
  margin-left:auto;
  margin-right:auto;

  
}

.card-link{
  margin:0px 0px 0px 0px !important; 
}

.shop-col{
  margin-left: 100 em !important;
  margin-right: 100 em !important;
}
.shop-wrapper{
  margin-top:7.5vh;
  height:100vh;
 
}
.shop-row{
  border-bottom:1px solid lightgrey;
  margin-left: 7.5vh;
  
  
}


.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.cart-wrapper,.login-wrapper,.reg-wrapper{
  margin-top:10vh;
}
.cart-pic-holder{
  height: 15rem;
  width:15rem;
}

.shopitem
{
  background-size: cover;
  background-repeat: no-repeat;

}


.account-pic{
  min-height:12rem;
  max-height:12rem;
  width:100%;
}

/*********STYLES FOR THE CONTACT FORMS*********/

.log_contact_form{
  border: 2px solid black;
  background-color: #ffffff;
  width:40vw;
  height:30vh;
  position: fixed;
  left:30vw;
  bottom:35vh;
}

.contact_form{
  border: 2px solid black;
  background-color: #ffffff;
  width: 40vw;
  height:75vh;
  position: fixed;
  left:30vw;
  bottom:12.5vh; 
}

.contact_head {
  margin-left:10%;
  margin-top: 5%;

}

.contact_cancel{
  background:none;
  border:none;
  position:fixed;
  left:67%;
  bottom:82%;
}

.log_contact_head {
  margin-left:10%;
  margin-top: 2%;

}

.log_contact_button{
  margin-left:85%;
  margin-top: 18%;
}

.log_contact_cancel{
  background:none;
  border:none;
  position:fixed;
  left:67%;
  bottom:59.5%;
}

.contact_fields{
  padding-left: 2%;
  padding-right: 2%;
  margin-top:10%;
}

.contact_field1{
  width:50%;
}

.contact_field2{
  width:80%;
}

.contact_field3{
  width:100%;
  height:30%;
}

.contact_submit{
  margin-left:80%;
  margin-top:15%;
}

/**review posting box**/
.spacer{
  height: 150px;
  width: 100%;
}
.reviews-co{

  position: relative;
  bottom: 0%;
  
}