{% extends "layout.html" %} 
{% block content %}
<div class="cart-wrapper">
<div class="container-fluid">
    <form action = "" method = "POST" id="#remove-item-form" name = "remove-item-form">
    <div class="row">
        <div class="col-8">
            <h3 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{cartData|length}}</span>
            </h3>
            <ul class="list-group mb-3">
            {% for item in cartData %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <a class="thumbnail" href="#">
                            <div class="cart-pic-holder"> 
                                <img class="img-thumbnail img-fluid cart-pic" src="data:;base64,{{item.image}}" alt="" data-id="{{item.photo_id}}">
                            </div>
                        </a>
                        
                        
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{item.photo_id}}" name = "remove-item" id="remove-item" class="remove-item">
                                <label class="form-check-label" for="remove-item">
                                  Remove item from cart.
                                </label>
                        
                        
                    </div>
                    
                    {{data_ID}}
                    </div>
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <h4 class="my-0">{{item.title}}</h4>
                            <!-- place holder test title, remove once photos actually have titles-->
                            <h6>by {{item.posted_by}}</h6>
                            <br>
                            <!-- place holder description, remove once photos have descriptions -->
                            <small class="text-muted">{{item.photo_description}}</small>
                          </div>
                          <div class="col-6">
                            Copyright
                            <div class="col">
                                Digital - <small class="text-muted">This item can be reproduced with attribution in for-profit in digital media</small>
                            </div>
                            <div class="col">
                                Print - <small class="text-muted">This item can be reproduced with attribution in for-profit in print media</small>
                            </div>
                            </div>
                            <div class="col-1">
                                <span class="text-muted">${{item.price}}</span>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    
                </li>


            {% endfor %}
            {% if cartData|length > 0%}
            <button class="btn btn-danger" type="submit" form="#remove-item-form"> Remove selected items </button>
            {%else%}
            <p> You have no items in your cart.</p>
            {% endif %}
        </form>
            
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                <h4 class="my-0">Promo code</h4>
                <small>EXAMPLECODE</small>
                </div>
                <span class="text-success">-$5</span>
            </li>
            </ul>
        </div>

        <style>div.priceBox {border-style: solid;}</style>
        <div class="col-3">
            <h3>Price</h3> 
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                    <h4 class="my-0">Subtotal:</h4>
                    </div>
                    <span class="text-muted">${{subTotal}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                    <h4 class="my-0">Estimated Tax:</h4>
                    </div>
                    <span class="text-muted">${{tax}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                    <h4 class="my-0">Estimated Fees:</h4>
                    </div>
                    <span class="text-muted">${{fees}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                    <h4 class="my-0">Grand Total:</h4>
                    </div>
                    <span class="text-muted">${{grandTotal}}</span>
                </li>
            </ul>

            <form class="card p-2 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form>
            
            <div>
                <a class="btn btn-primary" href="{{url_for('checkout')}}"> Proceed to Checkout</a> 
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}