{% extends "layout.html" %}
{% block content %}

<script>
  function clickContact() {   //when the contact this seller button is clicked if we make this into a form
    document.getElementById("contact_form").style.display="block";
  }

  function offHelp() {
    document.getElementById("contact_form").style.display="none";
  }
</script>

<div class="row account-wrapper" style= "border:1px solid white">
  <div class="col-2 account-left">
    <div class="row account-card-row">
      <div class="account-card card" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for('static',filename='images/blank-user.jpeg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{userObj.username}}</h5>
          <p class="card-text"> Quick about me blurp with the account holder. </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Account Type: Seller/Buyer </li>
          <li class="list-group-item">Reputation Level: {{userObj.seller_rating}}</li>
          
        </ul>
        <div class="row card-body">
          <a href= "#" class="col-sm card-link">Subscribe</a>
          <button class="col-sm btn card-link" onclick="clickContact();">Contact</button>
          <a href="#" class="col-sm card-link">Report</a>
        </div>
      </div>
    </div>
    <div class="row review-card-row">
      <div class="account-card card review-card" style="width: 18rem;">
        <div class="row d-flex justify-content-center mt-100">
          <div class="col-md-12 mb-6">
              <div class="card border-default">
                  <div class="card-body">
                      <div class="text-center">
                          <div class="d-inline align-baseline display-2 mr-1">{{userObj.seller_rating}}<span class="full-rating">/5</span></div>
                          <div class=" align-baseline text-sm text-warning mr-1"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      </div>
                      <div class="pt-3"> <label class="text-medium text-sm">5 stars <span class="text-muted">- 34</span></label>
                          <div class="progress margin-bottom-1x">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%; height: 2px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> <label class="text-medium text-sm">4 stars <span class="text-muted">- 9</span></label>
                          <div class="progress margin-bottom-1x">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 20%; height: 2px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> <label class="text-medium text-sm">3 stars <span class="text-muted">- 2</span></label>
                          <div class="progress margin-bottom-1x">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 7%; height: 2px;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> <label class="text-medium text-sm">2 stars <span class="text-muted">- 1</span></label>
                          <div class="progress margin-bottom-1x">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 3%; height: 2px;" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> <label class="text-medium text-sm">1 star <span class="text-muted">- 0</span></label>
                          <div class="progress mb-2">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 0; height: 2px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                      <div class="pt-2"><a class="btn btn-warning btn-block" href="#" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" data-abc="true">Leave a Review</a></div>

                  </div>
              </div>
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="col-9 account-right">
    <div class="row available-sales-row">
      <div class="availablesales-container container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Available Sales</h1>
      
        <hr class="mt-2 mb-5">
      
        <div class="row text-center text-lg-left">
      
          {% for object in allPhotoObjects %}
          <div class="col-lg-3 col-md-4 col-6">
            <a href="{{url_for('itemDynamic', id=object.photo_id)}}" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail account-pic" src="data:;base64,{{object.image}}" alt="">
                  <p class="container-text"> {{object.price}} <br> {{object.posted_by}} </p>
                </a>
          </div> 
      
          {% endfor %}
          
           
      
        </div>
      </div>
    </div>

    <div class="row best-sellers-row">
      <div>
        <div class="bestsales-container container">
       
         <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Best Sellers</h1>
       
         <hr class="mt-2 mb-5">
          <div class="row">
         {% for object in allPhotoObjects %}
          <div class="col-lg-3 col-md-3 col-6">
            <a href="{{url_for('itemDynamic', id=object.photo_id)}}" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail account-pic" src="data:;base64,{{object.image}}" alt="">
                  <p class="container-text"> {{object.price}} <br> {{object.posted_by}} </p>
                </a>
          </div> 
      
          {% endfor %}
          </div>
           
         </div>
        </div>
    </div>

    <div class="row nsfw-button-row">
      <button class = "btn btn-warning reveal-nsfw" id = "reveal-nsfw"> 
        Allow NSFW Content 
      </button>

      <script type = "text/javascript">
        document.getElementById('reveal-nsfw').onclick=function(){
          document.getElementById('nsfw-container').style.display="block";
          window.location.href('#nsfw-container');
        }
        
        
      </script>
    </div>

    <div class="row nsfw-row">
      <div class="nsfw-container container" id = "nsfw-container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">NSFW (adult content)</h1>
      
        <hr class="mt-2 mb-5">
      
        <div class="row text-center text-lg-left">
      
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="{{url_for('static',filename='images/nude1.jpg')}}" alt="">
                  <p class="container-text"> Item name and price </p>
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="{{url_for('static',filename='images/war.jpg')}}" alt="">
                  <p class="container-text"> Item name and price </p>
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="{{url_for('static',filename='images/weedpost.jpg')}}" alt="">
                  <p class="container-text"> Item name and price </p>
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="{{url_for('static',filename='images/nude.jpg')}}" alt="">
                  <p class="container-text"> Item name and price </p>
                </a>
          </div>
        </div>
       </div>
    </div>

    <div class = "spacer">
  

    </div>

    <!--Review posting form-->
    <div class="container reviews-co footer">
      <div class="mgb-25 padb-30 auto-invert line-b-4 align-center">
          <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-100-xs no-mg" contenteditable="false">Read Customer Reviews</h1>
      </div>
      <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <!--This will grab review from data base based on user's review content and output-->
        {% if userReviews|length>0 %}
          {% for x in range(0,3) %}
            
          <li>
            <img src="{{url_for('static',filename='images/profile.jpg')}}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
            <p class="fs-110 font-cond-l" contenteditable="false"> {{userReviews[x].review_content}} </p>
            <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Username Here</h5>
            <small class="font-cond case-u lts-sm fs-200 fg-text-l " contenteditable="false">{{userReviews[x].review_value}} Stars</small>
          </li>
            
          {% endfor %}
        {% endif %}
        </ul>
    </div>

  </div>



</div>

    <!--Contact Form-->
    {% if session.logged_in %}
        <div class="flex-container contact_form" id="contact_form">
            <input type="button" class="contact_cancel material-icons md-24" id="contact_cancel" onclick="offHelp();" value="highlight_off"/>
            <h1 class="border-bottom contact_head">Contact {{userObj.username}}</h1>
            <form method="POST" action="">
                {{ contactForm.hidden_tag() }}
                <fieldset class="form-group contact_fields">
                    <div class="form-group">
                        {{ contactForm.email.label(class="form-control-label") }} <br>
                        {% if contactForm.email.errors %} <!-- Error Messages -->
                            {{ contactForm.email(class="form-control form-control-lg is-invalid extra_info contact_field1")}} 
                            <div class="invalid-feedback"> 
                                {% for error in contactForm.email.errors %}
                                    <span> {{error}} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ contactForm.email(class="form-control form-control-lg contact_field1")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ contactForm.subject.label(class="form-control-label") }} <br>
                        {% if contactForm.subject.errors %} <!--for error handling-->
                            {{ contactForm.subject(class="form-contol form-control-lg is-invalid contact_field2", id="contact_field2") }}
                                <div class="invalid-feedback">
                                    {% for errors in contactForm.subject.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ contactForm.subject(class="form-contol form-control-lg contact_field2", id="contact_field2")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ contactForm.message.label(class="form-conrtol-label") }} <br>
                        {% if contactForm.message.errors %} <!--for error handling-->
                            {{ contactForm.message(class="form-contol form-control-lg is-invalid contact_field3", id="contact_field3") }}
                                <div class="invalid-feedback">
                                    {% for errors in contactForm.message.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                            {{ contactForm.message(class="form-contol form-control-lg contact_field3", id="contact_field3") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group contact_submit"><!--submit button-->
                    {{ contactForm.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    {% else %}
        <div class="flex-container log_contact_form" id="contact_form">
            <input type="button" class="log_contact_cancel material-icons md-24" id="log_contact_cancel" onclick="offHelp();" value="highlight_off"/>
            <h2 class="border-bottom log_contact_head">Please Log In To Contact This Seller</h2>
            <a href="{{url_for('login')}}">
                <button class="btn btn-primary active log_contact_button" id="log_contact_button" role="button" aria-disabled="true">Log In</button>
            </a>
        </div>
    {% endif %}
    <script>
        document.getElementById("contact_form").style.display="none";
    </script>
    
    <!--modal for review popup-->
    <div class="modal" id="exampleModalCenter" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Review Time</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="POST" name= "postReviewForm" id="postReviewForm" enctype="multipart/form-data">
              <div class="form-group">
                <label for="inputFile"> Available attachment(s):</label>
                <input name="inputFile"  style = "margin-top: 1em;" id="inputFile" type="file" class="form-control" id="uploadImage"  onchange="document.getElementById('image-preview').src = window.URL.createObjectURL(this.files[0])">
              </div>
              
  
              <div class="form-group">
                <label for="description">Leave review for User:</label>
                <textarea name = "review-content" id= "review-content" class="form-control"  rows="3"></textarea>
              </div>
              <select class="form-select" form = "postReviewForm" name = "selectUserRating" id = "selectUserRating" aria-label="Default select example">
                <option selected>Rate this User</option>
                <option value="1">1 Stars</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
              </select>    
            </form>
  
            
  
          </div>
          <div class="modal-footer">
            <button name = "closeModal" id ="closeModal"type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button name="submitReview" id="submitReview" type="submit" class="btn btn-primary" form="postReviewForm">Post Review</button>
          </div>
        </div>
      </div>
    </div>


    <style>
      body{margin-top:20px;}
    
    .align-center {
        text-align: center;
    }
    .hash-list {
        display: block;
        padding: 0;
        margin: 0 auto;
    }
    
    @media (min-width: 768px){
        .hash-list.cols-3 > li:nth-last-child(-n+3) {
            border-bottom: none;
        }
    }
    @media (min-width: 768px){
        .hash-list.cols-3 > li {
            width: 33.3333%;
        }
    }
    .hash-list > li {
        display: block;
        float: left;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .pad-30, .pad-30-all > * {
        padding: 30px;
    }
    img {
        border: 0;
    }
    .mgb-20, .mgb-20-all > * {
        margin-bottom: 20px;
    }
    .wpx-100, .wpx-100-after:after {
        width: 100px;
    }
    .img-round, .img-rel-round {
        border-radius: 50%;
    }
    .padb-30, .padb-30-all > * {
        padding-bottom: 30px;
    }
    
    .mgb-40, .mgb-40-all > * {
        margin-bottom: 40px;
    }
    .align-center {
        text-align: center;
    }
    [class*="line-b"] {
        position: relative;
        padding-bottom: 20px;
        border-color: #E6AF2A;
    }
    .fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
        color: #222;
    }
    .font-cond-b {
        font-weight: 700 !important;
    }
    
    </style>
{% endblock content %}