{% extends "layout.html" %}
{% block content %}


  <div class="container-flex home-wrapper h-100"> 
    <div class ="container top-container" >
      <div class = "home-quote">
        Precious <br>
        Search through thousands of photos. <br>
        Post photos for potential buyers! <br> 
      </div>
      {% if session["logged_in"]%}
      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        Post a photo
      </button>
      {%else%}
      <a class="btn btn-primary" href="{{url_for('register')}}"> Sign Up Now!</a>  
      {% endif %}
    </div>

    <div class ="container bottom-container" >
      <!-- Modal Content -->
      <div class="modal" id="exampleModalCenter" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Describe this image</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
          
                
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Add tags to this image</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Upload image</label>
                    <input type="file" class="form-control-file" id="uploadImage">
                  </div>
                </form>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Content -->

<div class="row" >

  
  <div class="col-lg-4 col-md-4 col-xs-4 thumb home-thumb">
      <a class="thumbnail" href="#">
          <img class="img-responsive" src="{{url_for('static',filename='images/image1.jpeg')}}" alt="">
      </a>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-4 thumb home-thumb">
      <a class="thumbnail" href="#">
          <img class="img-responsive" src="{{url_for('static',filename='images/image2.jpeg')}}" alt="">
      </a>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-4 thumb home-thumb">
      <a class="thumbnail" href="#">
          <img class="img-responsive" src="{{url_for('static',filename='images/image3.jpeg')}}" alt="">
      </a>
  </div>

  </div> 
  
  
  
{% endblock content %}