{% extends "layout.html" %}
{% block content %}
    <script>
        function clickHelp() {
            document.getElementById("report_button").style.display="block";
            document.getElementById("contact_button").style.display="block";
            document.getElementById("faq_button").style.display="block";
            document.getElementById("esc_button").style.display="block";
            document.getElementById("item_page").style.filter = "blur(5px)";
            document.getElementById("nav_bar").style.filter = "blur(5px)";
            document.getElementById("item_ad").style.filter = "blur(5px)";
            document.getElementById('seller_button').disabled=true;
            document.getElementById('cart_button').disabled=true;

        }
        function offHelp() {
            document.getElementById("report_button").style.display="none";
            document.getElementById("contact_button").style.display="none";
            document.getElementById("faq_button").style.display="none";
            document.getElementById("esc_button").style.display="none";
            document.getElementById("item_page").style.filter = "none";
            document.getElementById("nav_bar").style.filter = "none";
            document.getElementById("item_ad").style.filter = "none";
            document.getElementById('seller_button').disabled=false;
            document.getElementById('cart_button').disabled=false;
        }
    </script>
    <div class = "flex-container item_page" id="item_page">
        <div class="row item_everything">
            <div class="col-7 item_left">
                <div class="flex-container item_picture">
                    <img src="{{url_for('static',filename  = 'images/flower.jpg')}}" class="img-fluid" alt="Responsive image">
                </div>
                <div class="flex-container about_picture">
                    <div class="flex-container title">
                        <h1>Title</h1>
                        <h2><i>~Author</i></h2>
                    </div>
                    <div class="flex-container about">
                        About this piece:
                    </div>
                </div>
                <div class="flex-container reviews">
                    <h2>Average Item Rating: &#11088&#11088&#11088&#11088&#11088</h2>
                    <div class="flex-container review">
                        <h3>Review 1:</h3>
                        <div class="flex-container">
                            <p style="text-align: left">"General Response."</p>
                            <p style="text-align: right"><i>~username</i></p>
                        </div>
                    </div>
                    <div class="flex-container review">
                        <h3>Review 2:</h3>
                        <div class="flex-container">
                            <p style="text-align: left">"General Response."</p>
                            <p style="text-align: right"><i>~username</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 item_right">
                <div class="container item_seller">
                    <h2 class="seller_header">Seller Name | Seller Rating:&#11088&#11088&#11088&#11088&#11088</h2>
                    <div class="flex-container profile">
                        <img src="{{url_for('static',filename  = 'images/profile.jpg')}}" alt="profile" class="img-thumbnail">
                    </div>
                    <div class="flex-container about_seller">
                        Information about the seller here.
                    </div>
                    <button id="seller_button" class="btn btn-primary btn-block active" role="button" onclick="location.href='{{url_for('account')}}';" aria-disabled="true">See More From This Seller</button>
              </div>
              <div class="container buy">
                <h3>Item Rating: &#11088&#11088&#11088&#11088&#11088 | # of Sales:  ####</h3>
                <div class="container item_options">
                    <div class="form-check item_option">
                        <input class="form-check-input-lg" type="radio" name="options" id="digital" value="option1" checked>
                        <label class="form-check-label" for="digital">
                        <h4>Digital ($49.99)</h4>
                        </label>
                    </div>
                    <div class="form-check item_option">
                        <input class="form-check-input-lg" type="radio" name="options" id="digital_and_copyright" value="option2">
                        <label class="form-check-label" for="digital_and_copyright">
                            <h4>Digital and Copyright ($129.99)</h4>
                        </label>
                    </div>
                    <div class="form-check item_option">
                        <input class="form-check-input-lg" type="radio" name="options" id="print" value="option3">
                        <label class="form-check-label" for="print">
                            <h4>Print ($59.99)</h4>
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block active" id="cart_button" role="button" aria-disabled="true">Add to Cart</button>
              </div>
              <div class="flex-container ad" >
                <img src="{{url_for('static',filename  = 'images/mtndew.jpg')}}" class="img-fluid" alt="Responsive image">
              </div>
            </div>
        </div>
        
        <!--<div class = "row pic_and_author">
            <div class = "col-8 picture">
                <div class="flex-container">
                    <img src="static/flower.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class = "col-3 seller">
                <h2 class="seller_header">Seller Name | Seller Rating: &#11088 &#11088 &#11088 &#11088 &#11088</h2>
                <div class="flex-container profile">
                    <img src="static/profile.jpg" alt="profile" class="img-thumbnail">
                </div>
                <div class="flex-container about_seller">
                    Information about the seller here.
                </div>
                <a href="{{url_for('account')}}" class="btn btn-primary btn-lg active" role="button" aria-disabled="true">See More From This Seller</a>
            </div>
        </div>
        <div class="row about_picture_and_buy">
            <div class="col-8 about_picture">
                <div class="flex-container title">
                    <h1>Title</h1>
                    <h2><i>~Author</i></h2>
                </div>
                <div class="flex-container about">
                    About this piece:
                </div>
            </div>
            <div class="col-3 buy">
                <h3>Item Rating: &#11088&#11088&#11088&#11088&#11088 | # of Sales:  ####</h3>
                <div class="container item_options">
                    <div class="form-check item_option">
                        <input class="form-check-input-lg" type="radio" name="options" id="digital" value="option1" checked>
                        <label class="form-check-label" for="digital">
                        <h4>Digital ($49.99)</h4>
                        </label>
                    </div>
                    <div class="form-check item_option">
                        <input class="form-check-input-lg" type="radio" name="options" id="digital_and_copyright" value="option2">
                        <label class="form-check-label" for="digital_and_copyright">
                            <h4>Digital and Copyright ($129.99)</h4>
                        </label>
                    </div>
                    <div class="form-check item_option">
                        <input class="form-check-input-lg" type="radio" name="options" id="print" value="option3">
                        <label class="form-check-label" for="print">
                            <h4>Print ($59.99)</h4>
                        </label>
                    </div>
                </div>
                <a class="btn btn-primary btn-lg active" role="button" aria-disabled="true">Add to Cart</a>
            </div>
        </div>
        <div class="row reviews_and_ad">
            <div class="col-8 reviews">
                <h2>Average Item Rating: &#11088&#11088&#11088&#11088&#11088</h2>
                <div class="flex-container review">
                    <h3>Review 1:</h3>
                    <div class="flex-container">
                        <p style="text-align: left">"General Response."</p>
                        <p style="text-align: right"><i>~username</i></p>
                    </div>
                </div>
                <div class="flex-container review">
                    <h3>Review 2:</h3>
                    <div class="flex-container">
                        <p style="text-align: left">"General Response."</p>
                        <p style="text-align: right"><i>~username</i></p>
                    </div>
                </div>
            </div>
            <div class="col-3 ad">
                <img src="static/mtndew.jpg" class="img-fluid" alt="Responsive image">
            </div> 
        </div> -->
    </div>
    <div class="container item_ad" id="item_ad">
        <img src="{{url_for('static',filename  = 'images/candy.png')}}" class="img-fluid candy" alt="Responsive image">
    </div>
    <input type="button" class="help_button material-icons md-48 icon" onclick="clickHelp();" onmouseenter="document.getElementById('help_tag').style.display='block';" onmouseleave="document.getElementById('help_tag').style.display='none';" value="help_outline" />
    <div class="flex-container help_tag" id="help_tag">Help</div>
    <!--<a href="" class="help_button"><p class="material-icons md-48 icon">help_outline</p></a> -->
    <input type="button" id="esc_button" class="esc_button material-icons md-24 icon" onclick="offHelp();" onmouseenter="document.getElementById('esc_tag').style.display='block';" onmouseleave="document.getElementById('esc_tag').style.display='none';" value="highlight_off" />
    <div class="flex-container esc_tag" id="esc_tag">Exit Help</div>
    <input type="button" id="report_button" class="report_button material-icons md-24 icon" onclick="offHelp();" onmouseenter="document.getElementById('report_tag').style.display='block';" onmouseleave="document.getElementById('report_tag').style.display='none';" value="report_problem" />
    <div class="flex-container report_tag" id="report_tag">Report</div>
    <input type="button" id="contact_button" class="contact_button material-icons md-24 icon" onclick="offHelp();" onmouseenter="document.getElementById('contact_tag').style.display='block';" onmouseleave="document.getElementById('contact_tag').style.display='none';" value="contact_page" />
    <div class="flex-container contact_tag" id="contact_tag">Contact This Seller</div>
    <input type="button" id="faq_button" class="faq_button material-icons md-24 icon" onclick="offHelp();" onmouseenter="document.getElementById('faq_tag').style.display='block';" onmouseleave="document.getElementById('faq_tag').style.display='none';" value="help_center" />
    <div class="flex-container faq_tag" id="faq_tag">FAQ</div>
    <!--<a href="" id="report_button" class="report_button"><p class="material-icons md-24 icon">report_problem</p></a>
    <a href="" id="contact_button" class="contact_button"><p class="material-icons md-24 icon">contact_page</p></a>
    <a href="" id="faq_button" class="faq_button"><p class="material-icons md-24 icon">help_center</p></a> -->
    <script>
        {
            document.getElementById("help_tag").style.display="none";
            document.getElementById("report_button").style.display="none";
            document.getElementById("report_tag").style.display="none";
            document.getElementById("contact_button").style.display="none";
            document.getElementById("contact_tag").style.display="none";
            document.getElementById("faq_button").style.display="none";
            document.getElementById("faq_tag").style.display="none";
            document.getElementById("esc_button").style.display="none";
            document.getElementById("esc_tag").style.display="none";
        }
    </script>
{% endblock content %}