{% extends "layout.html" %}
{% block content %}

<style>   
    .vertical-scrollable> .row {
        top: 5%;
        bottom: 10%;
        position: absolute;
        overflow-y: scroll; 
    }

    .img-max {
        max-height: 500px;
        height:100%;
    }
 </style> 

<div class="container-flex home-wrapper h-100">
</div>
<div class="container" style="max-width: 90%">
    <div class="row">
        <!--main section holding the the photo and info-->
        <div class="col-8">
            <!--photo-->
            <div class="col">
                <div class="flex-container item_picture">
                    <img src="data:;base64,{{photoObject.image}}"  class="img-max mx-auto d-block" alt="Responsive image">
                </div>
            </div>

            <!--info section-->
            <div class="row">
                <!-- author and title-->  
                <div class="pl-5 col-5">
                    <!--Title-->
                    <div class="row">
                            <span style="font-size:1.8em;">
                              {{photoObject.title}}
                            </span>
                    </div>

                    <!--Author-->
                    <div class="pt-3 row">
                        <div class="col-3">
                            <div class = "pp_container" > 
                            {% if userObject.profile_picture%}
                                <a><img src="{{url_for('static',filename='images/profile_pictures/' + userObject.profile_picture)}}" class="img-thumbnail"> </a>
                                {%else%}
                                <img src="{{url_for('static',filename  = 'images/profile.jpg')}}" alt="profile" class="img-thumbnail" >
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            Uploaded by:<br>
                            <span style="font-size:1.2em">
                               <a href="{{url_for('accountDynamic', username=photoObject.posted_by)}}">{{photoObject.posted_by}} </a> 
                            </span>
                        </div>
                    </div>

                </div>

                <!--Pricing-->
                <div class="col-4">
                    <form method="POST" action="" name="pricing_options_form" id="pricing_options_form">
                        <h3> Pricing Options:  </h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{photoObject.print_price}}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Standard Print: $ {{photoObject.print_price}}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{photoObject.price}}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Digital: $ {{photoObject.price}}
                            </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{photoObject.copyright_price}}" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                Digital w/ Copyright: ${{photoObject.copyright_price}}
                                </label>  
                            
                        </div>
                            
                        
                    </form>
                </div>

                <!--Add to cart button-->
                <div class="pr-5 col-3">
                    <button class="btn btn-outline-info" type="submit" name="submit" form="pricing_options_form" style="margin-left:2vh;"> Add to Cart </button>
                    <button class="btn btn-outline-warning" type="button" name=""  onclick="clickReport()" form="pricing_options_form" style="margin-left:2vh; margin-top:2vh;"> Report </button>
                </div>
                
            </div>
            
            <!--Description-->
            <div class="pl-4 pb-4 pt-4">
                <span style="font-size:1.8em;">
                    About this piece:
                </span>
                <br>
               {{ photoObject.photo_description}}

            </div>
        </div>
        <!--side panel holding reviews-->
        <div class="col-4">
            <h5>What others had to say about this piece:</h5> 
            <div class="container vertical-scrollable">
                <!--holds all reviews-->
                <div class="row"> 
                    <div class="pt-4 pb-4 col-sm-12 border">
                        <!--top row of review holds profile pic and username-->
                        <div class="row">
                            <!--profile pic-->
                            <div class="col-2">
                                <img src="{{url_for('static',filename  = 'images/profile.jpg')}}" alt="profile" class="img-thumbnail">
                            </div>
                            <!--username-->
                            <div class="col">
                                Username
                            </div> 
                        </div>
                        
                        <!--test of review-->
                        <div class="pl-3 pr-2 pt-2 row">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed a metus sit amet dui aliquet hendrerit nec at ligula. 
                        Morbi tristique lacinia ligula vel fringilla. Proin placerat id nisl quis commodo. 
                        Pellentesque scelerisque tortor eu lobortis venenatis. Curabitur a auctor felis.
                        </div>
                    </div>

                    <!-- ====== DUPLICATES DELETE AFTER HERE ======= -->

                    <div class="pt-4 pb-4 col-sm-12 border">
                        <div class="row">
                            <div class="col-2">
                                <img src="{{url_for('static',filename  = 'images/profile.jpg')}}" alt="profile" class="img-thumbnail">
                            </div>
                            <div class="col">
                                Username
                            </div> 
                        </div>

                        <div class="pl-3 pr-2 pt-2 row">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed a metus sit amet dui aliquet hendrerit nec at ligula. 
                        Morbi tristique lacinia ligula vel fringilla. Proin placerat id nisl quis commodo. 
                        Pellentesque scelerisque tortor eu lobortis venenatis. Curabitur a auctor felis.
                        </div>
                    </div>
                    <div class="pt-4 pb-4 col-sm-12 border">
                        <div class="row">
                            <div class="col-2">
                                <img src="{{url_for('static',filename  = 'images/profile.jpg')}}" alt="profile" class="img-thumbnail">
                            </div>
                            <div class="col">
                                Username
                            </div> 
                        </div>

                        <div class="pl-3 pr-2 pt-2 row">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed a metus sit amet dui aliquet hendrerit nec at ligula. 
                        Morbi tristique lacinia ligula vel fringilla. Proin placerat id nisl quis commodo. 
                        Pellentesque scelerisque tortor eu lobortis venenatis. Curabitur a auctor felis.
                        </div>
                    </div>
                    <div class="pt-4 pb-4 col-sm-12 border">
                        <div class="row">
                            <div class="col-2">
                                <img src="{{url_for('static',filename  = 'images/profile.jpg')}}" alt="profile" class="img-thumbnail">
                            </div>
                            <div class="col">
                                Username
                            </div> 
                        </div>

                        <div class="pl-3 pr-2 pt-2 row">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed a metus sit amet dui aliquet hendrerit nec at ligula. 
                        Morbi tristique lacinia ligula vel fringilla. Proin placerat id nisl quis commodo. 
                        Pellentesque scelerisque tortor eu lobortis venenatis. Curabitur a auctor felis.
                        </div>
                    </div>
                    <div class="pt-4 pb-4 col-sm-12 border">
                        <div class="row">
                            <div class="col-2">
                                <img src="{{url_for('static',filename  = 'images/profile.jpg')}}" alt="profile" class="img-thumbnail">
                            </div>
                            <div class="col">
                                Username
                            </div> 
                        </div>

                        <div class="pl-3 pr-2 pt-2 row">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed a metus sit amet dui aliquet hendrerit nec at ligula. 
                        Morbi tristique lacinia ligula vel fringilla. Proin placerat id nisl quis commodo. 
                        Pellentesque scelerisque tortor eu lobortis venenatis. Curabitur a auctor felis.
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="flex-container report_form" id="report_form"> <!--updated report form-->
    <input type="button" class="report_cancel material-icons md-24" id="report_cancel" onclick="offHelp();" value="highlight_off"/>
    <input type="button" id="esc_button" class="esc_button material-icons md-24 icon" onclick="offHelp();" onmouseenter="document.getElementById('esc_tag').style.display='block';" onmouseleave="document.getElementById('esc_tag').style.display='none';" value="highlight_off" />
    <div class="flex-container esc_tag" id="esc_tag">Exit Help</div>
    <input type="button" id="report_button" class="report_button material-icons md-24 icon" onclick="clickReport();" onmouseenter="document.getElementById('report_tag').style.display='block';" onmouseleave="document.getElementById('report_tag').style.display='none';" value="report_problem" />
    <div class="flex-container report_tag" id="report_tag">Report</div>
    <input type="button" id="contact_button" class="contact_button material-icons md-24 icon" onclick="location.href='{{url_for('account')}}';" onmouseenter="document.getElementById('contact_tag').style.display='block';" onmouseleave="document.getElementById('contact_tag').style.display='none';" value="contact_page" />
    <div class="flex-container contact_tag" id="contact_tag">Contact This Seller</div>
    <input type="button" id="faq_button" class="faq_button material-icons md-24 icon" onclick="clickFAQ();" onmouseenter="document.getElementById('faq_tag').style.display='block';" onmouseleave="document.getElementById('faq_tag').style.display='none';" value="help_center" />
    <div class="flex-container faq_tag" id="faq_tag">FAQ</div>
    <!--<h1 class="center">Report Form</h1>-->
    <form method="POST" action=""> <!--posts the form info to this page-->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Report Form</legend>
            <div class="form-group"> <!--reason form element-->
                {{ form.reason.label(class="form-contol-label") }} <br>
                {{ form.reason(class="form-contol form-control-lg") }}
            </div>
            <div class="form-group"> <!--extra info form element-->
                {{ form.extra_info.label(class="form-contol-label") }}<br>

                {% if form.extra_info.errors %} <!--for error handling-->
                {{ form.extra_info(class="form-contol form-control-lg is-invalid extra_info") }}
                    <div class="invalid-feedback">
                        {% for errors in form.extra_info.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.extra_info(class="form-contol form-control-lg extra_info") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="form-group"><!--submit button-->
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <!--
        <label for="reason">Select a reason for this report: </label><br>
        <select name="reason" id="reason">
            <option selected hidden value="">Select Reason</option>
            <option value="wrongTags">Wrong Tags</option>
            <option value="nsfw">NSFW (not labeled)</option>
            <option value="copyright">Copyright</option>
            <option value="other">Other</option>
          </select> <br>
        <label for="extra_info">Enter any additional info: </label><br>
        <textarea id="extra_info" class="extra_info" name="extra_info" rows="5" cols="66"></textarea>
        <input type="button" class="report_submit" id="report_submit" onclick="offHelp();" value="submit"/>
        -->
    </form>
</div>
<input type="button" class="help_button material-icons md-48 icon" onclick="clickHelp();" onmouseenter="document.getElementById('help_tag').style.display='block';" onmouseleave="document.getElementById('help_tag').style.display='none';" value="help_outline" />
    <div class="flex-container help_tag" id="help_tag">Help</div>
    


    <div class="flex-container faq_sheet" id="faq_sheet">
        <input type="button" class="faq_cancel material-icons md-24" id="faq_cancel" onclick="offHelp();" value="highlight_off"/>
        <h1 class="center faq_head">Frequently Asked Questions</h1>
        <div class="flex-container faqs">
            faq1:<br>
            &nbsp;text<br>
            &nbsp;text<br>
            &nbsp;text<br>
            faq2:<br>
            &nbsp;text<br>
            &nbsp;text<br>
            &nbsp;text<br>
            faq3:<br>
            &nbsp;text<br>
            &nbsp;text<br>
            &nbsp;text<br>
            faq4:<br>
            &nbsp;text<br>
            &nbsp;text<br>
            &nbsp;text<br>
            faq5:<br>
            &nbsp;text<br>
            &nbsp;text<br>
            &nbsp;text<br>
            faq6:<br>
            &nbsp;text<br>
            &nbsp;text<br>
            &nbsp;text<br>
            faq7:<br>
            &nbsp;text<br>
            &nbsp;text<br>
            &nbsp;text<br>
        </div> 
    </div>
    <script>
        function clickHelp() {  //whenever the help button is clicked
            document.getElementById("report_button").style.display="block"; //make the help elements visible
            document.getElementById("contact_button").style.display="block";
            document.getElementById("faq_button").style.display="block";
            document.getElementById("esc_button").style.display="block";
            
        }

        function clickReport() {    //when the report button is clicked
            document.getElementById("report_button").style.display="none"; //remove the display of the extra help buttons
            document.getElementById("contact_button").style.display="none";
            document.getElementById("faq_button").style.display="none";
            document.getElementById("esc_button").style.display="none";
            document.getElementById("faq_sheet").style.display="none"; //remove any additional sheets ftom being displayed
            document.getElementById("report_form").style.display="block"; //display the help form
            document.getElementById("contact_form").style.display="none";
        }

        function clickContact() {   //when the contact this seller button is clicked if we make this into a form
            document.getElementById("report_button").style.display="none";
            document.getElementById("contact_button").style.display="none";
            document.getElementById("faq_button").style.display="none";
            document.getElementById("esc_button").style.display="none";
            document.getElementById("report_form").style.display="none";
            document.getElementById("contact_form").style.display="block";
            document.getElementById("faq_sheet").style.display="none";
        }

        function clickFAQ() { //when the faq button is clicked
            document.getElementById("report_button").style.display="none"; //remove extra elements
            document.getElementById("contact_button").style.display="none";
            document.getElementById("faq_button").style.display="none";
            document.getElementById("esc_button").style.display="none";
            document.getElementById("faq_sheet").style.display="block"; //display the faq sheet
            document.getElementById("report_form").style.display="none";
            document.getElementById("contact_form").style.display="none";
        }

        function offHelp() { //when any of the escape buttons are clicked
            document.getElementById("report_button").style.display="none"; //remove all of the extra elements on the screen
            document.getElementById("contact_button").style.display="none";
            document.getElementById("faq_button").style.display="none";
            document.getElementById("esc_button").style.display="none";
            document.getElementById("item_page").style.filter = "none";
            document.getElementById("nav_bar").style.filter = "none";
            document.getElementById("item_ad").style.filter = "none";
            document.getElementById("report_form").style.display="none";    //remove the blur
            document.getElementById("faq_sheet").style.display="none";
            document.getElementById('seller_button').disabled=false; //enable the screen's elements again
            document.getElementById('cart_button').disabled=false;
            document.getElementById('item_option1').disabled=false;
            document.getElementById('item_option2').disabled=false;
            document.getElementById('item_option3').disabled=false;
            document.getElementById('cart_link').href="{{url_for('cart')}}";
            document.getElementById('home_link').href="{{url_for('home')}}";
            document.getElementById('shop_link').href="{{url_for('shop')}}";
            document.getElementById('item_link').href="{{url_for('item')}}";
            document.getElementById('account_link').href="{{url_for('account')}}";
            document.getElementById('logout_link').href="{{url_for('logout')}}";
            document.getElementById('login_link').href="{{url_for('login')}}";
        }
    </script>
    
    <script>
        {
            document.getElementById("help_tag").style.display="none"; //hide all of the extra forms for the page
            document.getElementById("report_button").style.display="none";
            document.getElementById("report_tag").style.display="none";
            document.getElementById("contact_button").style.display="none"; 
            document.getElementById("contact_tag").style.display="none";
            document.getElementById("faq_button").style.display="none";
            document.getElementById("faq_tag").style.display="none";
            document.getElementById("esc_button").style.display="none";
            document.getElementById("esc_tag").style.display="none";
            document.getElementById("report_form").style.display="none";
            document.getElementById("faq_sheet").style.display="none";
        }
    </script>
{% endblock content %}