{% extends "layout.html" %}
{% block content %}
    <div class="content-section container">
        <form method="POST" action="" class="login-form">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Login
                </legend>


                <div class="form-group">    <!-- Generate Email field-->
                    {{ form.email.label(class="form-control-label")}} 

                    {% if form.email.errors %} <!-- Error Messages -->
                        {{ form.email(class="form-control form-control-lg is-invalid")}} 
                        <div class="invalid-feedback"> 
                            {% for error in form.email.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">    <!-- Generate Password field-->
                    {{ form.password.label(class="form-control-label")}} 

                    {% if form.password.errors %} <!-- Error Messages -->
                        {{ form.password(class="form-control form-control-lg is-invalid")}} 
                        <div class="invalid-feedback"> 
                            {% for error in form.password.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg")}}
                    {% endif %}
                    </div>
                
                <div class="form-check form-group">    <!-- Remember Me? Field-->
                    
                    {{ form.remember(class="form-check-input")}}
                    {{ form.remember.label(class="form-check-label remember-me-label")}}
                
                </div>
            

            <div class="form-group">    <!-- Submit Button field-->
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
            
            <small class="text-muted ml-2"> 
                <a href = "#" >Forgot your password? </a>
            </small>

        </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account?
                <a href="{{url_for('register')}}">
                    Sign Up Now
                </a>
            </small>
        </div>
    </div>
{% endblock content %}