{% extends "layout.html" %}
{% block content %}
<div class="reg-wrapper">
    <div class="content-section container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group register-form">
                <legend class="border-bottom mb-4">
                    Join Today!
                </legend>

                <div class="form-group">    <!-- Generate Username field-->
                    {{ form.username.label(class="form-control-label")}} 

                    {% if form.username.errors %} <!-- Error Messages -->
                        {{ form.username(class="form-control form-control-lg is-invalid")}} 
                        <div class="invalid-feedback"> 
                            {% for error in form.username.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">    <!-- Generate Email field-->
                    {{ form.email.label(class="form-control-label")}} 

                    {% if form.email.errors %} <!-- Error Messages -->
                        {{ form.email(class="form-control form-control-lg is-invalid")}} 
                        <div class="invalid-feedback"> 
                            {% for error in form.email.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">    <!-- Generate Password field-->
                    {{ form.password.label(class="form-control-label")}} 

                    {% if form.password.errors %} <!-- Error Messages -->
                        {{ form.password(class="form-control form-control-lg is-invalid")}} 
                        <div class="invalid-feedback"> 
                            {% for error in form.password.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>


                <div class="form-group">    <!-- Generate Confirm Password field-->
                    {{ form.confirmPassword.label(class="form-control-label")}} 

                    {% if form.confirmPassword.errors %} <!-- Error Messages -->
                        {{ form.confirmPassword(class="form-control form-control-lg is-invalid")}} 
                        <div class="invalid-feedback"> 
                            {% for error in form.confirmPassword.errors %}
                                <span> {{error}} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirmPassword(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                

                <div class="form-group">    <!-- Submit Button field-->
                    {{ form.submit(class="btn btn-outline-info")}}
                </div>
                
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already have an account? <a class="ml-2" href="{{ url_for('login')}}"> Sign In </a>
                    </small>
                    
                </div>
                

            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}